{{extend 'plugin_cs_monitor/layout.html'}}

<div id="worker_1" class="row section">
    <div class="span12">
        {{=MARKMIN(docs.floating_point_add)}}
    </div>
</div>
{{=H3(T('Please fill-out the form to submit a calculation:'))}}
{{=form}}
<div class="row">
    <div class="span12">
        <p>
            {{=A('Calculate', _class="btn btn-primary autoremove", _href=URL('manage', 'worker1', args=[simulation_id]), _id="worker_1_queue")}}
        <p>
    </div>
</div>
<hr />


<script type="text/javascript">
    $(function() {
        $('pre').addClass("prettyprint");
        prettyPrint();
        $('a.autoremove').on('click', function(e) {
            e.preventDefault();
            if ($(this).hasClass('disabled')) return;
            var url = $(this).attr('href');
            web2py_ajax_page('GET', url,[],'aaa');
        })
    })
</script>
